h1 {
    font-size: 50px;
    color: rgb(95, 202, 206);
    text-align: center;
}

.main {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:auto;
    margin-bottom: 7%;
    margin-top: 7%;
    width: 70%;
    height: 600px;
    border: 15px solid rgb(95, 202, 206);
    padding: 50px;
    text-align: center;
}

.main img {
    width:  350px;
    height: 550px;
    object-fit: cover;
    margin-right: 5%;
}

.main h3 {
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: 3%;
}


.image {
    float: left;
    width:  300px;
    height: 300px;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 10px;
}