<div class="page-body">
    <form (ngSubmit)="onSearch()">
        <div class="search-section">
            <input type="text" id="search" name="search" class="search-box" [(ngModel)]="search" placeholder="Search" />
            <input class="btn" type="submit" id="submit" name="submit" value="Search" />
        </div>
    </form>
    <div class="artists-box">
        <div id="last">
            <table>
                <thead>
                    <tr>
                        <th>Cover</th>
                        <th>Book</th>
                        <th>Author</th>
                    </tr>
                    <tr *ngFor="let book of books">
                        <td [routerLink]="['/book', book.id]"><img [src]="book.bookImg" alt="Book Image" width="70px"/></td>
                        <td>{{book.name}}</td>
                        <td>{{book.author}}</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>