nav {
    background-color: rgb(243, 248, 146);
    padding: 10px;
    height: 60px;
  }
    
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 20px;
  }
  
  li {
    display: inline-block;
    margin-right: 10px;
    padding-left: 4%;
    padding-right: 4%;
  }
  
  a {
    text-decoration: none;
    color: #333;
  
  }
  
  nav a.active {
    /* Add your styles to highlight the active link */
    font-weight: bold;
    color: blue;
  }